@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.logo-big{
  font-family:"Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 800;
}

.logo-small{
  font-family:"Montserrat", sans-serif;
  font-size: 15px;
  margin-top: -10px;
}

.form-control{
  margin: 10px 20px;
  width: 100%;
}

.title{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.date-picker{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
}
