node_modules
/server/dist/
/server/.env
/server/.env.example
/server/.env.local
/server/.env.test
/server/.env.development
/server/.env.production
/server/.env.staging
/server/.env.staging.local
/server/.env.production.local
/server/.env.development.local
/server/.env.test.local
*.log
logs/
.DS_Store
Thumbs.db
/build/
/dist/